body {
    font-family: Arial, sans-serif;
    margin: 20px; /* Add some spacing around the content */
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Add this CSS to style the confirmation message */
.confirmation-message {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}


#addButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
}

#addButton:hover {
    background-color: #0056b3;
}

#addButton:focus {
    outline: none;
    background-color: #0056b3;
}

/* Add some space between the button and the form */
#incidentForm {
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px; /* Increase padding for better spacing */
}

th {
    background-color: #f2f2f2;
}

/* Apply some hover effect to the table rows */
tbody tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* Add a little box-shadow to the table */
table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Center the table header */
thead th {
    text-align: center;
}

/* Center the table cells */
tbody td {
    text-align: center;
}

/* Style the table header and body separately for better readability */
thead {
    background-color: #e0e0e0;
}

tbody {
    background-color: #f9f9f9;
}

/* Style the heading */
h1 {
    text-align: center;
    margin-top: 20px;
}

/* Responsive styles for the table on smaller screens */
@media screen and (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 10px;
    }
}
